.role-container {
    .icon-add-role,
    .icon-delete-role {
        font-size: 22px;
        padding: 30px 12px 0 0;
    }

    .icon-add-role {
        color: green;
    }

    .icon-delete-role {
        color: red;
    }
    .table-role {
        .btn-delete {
            background: transparent;
            border: none;
            color: red;
            font-size: 20px;
        }
    }
}
