* {
    margin: 0;
    padding: 0;
}

a[href] {
    text-decoration: none;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
